/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/
// Colors
$blue: #0356a4;
$teal: #2ab2b0;
$scooter: #2cbdbe;
$doveGray: #707070;
$tundora: #464646;
$lightGray: #e5e5e5;
$white: #fff;
$black: #000;

// Font families
$cursive: 'Comfortaa', sans-serif;
$sans: 'Montserrat', sans-serif;
$serif: museo-slab, serif;
