/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/
// Colors
$scooter: #2cbdbe;
$white: #fff;

// Font families
$cursive: 'Comfortaa', cursive;
$sans: 'Montserrat', sans-serif;
