/*
 * 3-Column Video Hero Section (home)
 *
 * Template part used on the home template
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 0.0.1
 */
    
section.call-to-action{
    padding-top: 80px;
    p {
        text-align: left;
        font: normal 32px/42px "Comfortaa";
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
}