/*
 * 2-Column List/Modal (home)
 *
 * Template part used on the home template
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 0.0.1
 */

 .video-split {
    padding-top: 80px;
    ul {
        padding: 0px;
        clear: both;

        li {
            list-style:none;
            display: flex;
            align-items: center;
            text-align: left;
            font: normal 28px/38px 'Comfortaa';
            letter-spacing: 0px;
            color: $teal;
            opacity: 1;
        }

        li:before {
            content: '\f00c';
            font: normal 32px/49px 'FontAwesome';
            letter-spacing: 0px;
            font-size: 24px;
            color: $blue;
            margin-right: 20px;
            display: flex;
            align-items: center;

        }
    }

    h2 {
        font: normal 40px/44px "Comfortaa";
        letter-spacing: 0px;
    }

}


  // Media Queries
@media screen and (max-width: $small-breakpoint) {

  .video-split {
    padding-top: 40px;
    ul {

        li {
            font: normal 20px/28px 'Comfortaa';
            }
        }
      }

}
