/*
 * Text/Image Split Full Width (home)
 *
 * Template part used on the home template
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 0.0.1
 */

section.home5050 {
  @include iPhoneX;

  .full-width .row {
    max-width: 105rem !important;
	}
  
  .copy-side {
	  display: block;
	  margin: auto auto;
	  max-width: 600px;
	  
	  h2 {
	    font-size: rem(42);
	    text-transform: capitalize;
	  }
	
	  p {
	    font-size: rem(24);
	  }
  }
  
  .image-side {
	  min-height: 250px;
	  background-repeat: no-repeat;
	  background-position: top center;
	  background-size: cover;
	  padding: 50% 0 0;
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  section.home5050 {
    h2 {
      font-size: rem(32);
    }

    p {
      font-size: rem(24);
    }
  }
}
