/*
 * Testimonials (home)
 *
 * Template part used on the home template
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 0.0.1
 */

.home-testimonials {
  @include iPhoneX;

  .container {
    padding: rem(90) 0 rem(50);
  }

  .slick-slide > div {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .row {
    display: flex !important;
    margin-bottom: rem(70);
  }

  img {
    width: rem(150);
    border-radius: 50%;
  }

  p {
    margin: 0 0 rem(15);
    font-size: rem(18);
    line-height: 1.16;
    font-family: $serif;
    color: $blue;
  }

  h4 {
    font-weight: 400;
    color: $tundora;
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .home-testimonials {
    .container {
      padding: rem(40) 0 0;
    }

    .row {
      margin-bottom: rem(40);
    }

    p {
      font-size: rem(18);
    }

    h4 {
      font-size: rem(18);
    }
  }
}
