/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/
body {
  font: 400 rem(15)/1.47 $sans;
  color: $tundora;
}

// Headings
h1 {
  margin: 0 0 rem(50);
  font: 700 rem(50)/1.12 $cursive;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 rem(30);
  font: 700 rem(30)/1.1 $cursive;
  text-transform: uppercase;
}

h4 {
  margin: 0 0 rem(15);
  font: 700 rem(22)/1 $serif;
  color: $teal;
}

h5 {
  margin: 0 0 rem(15);
  font: 700 rem(16)/1.38 $serif;
}

// Body copy
p, ol, ul, li {
  font: 400 rem(15)/1.47 $sans;
}

p, ol, ul {
  margin: 0 0 rem(50);
}

// Links
a {
  font: inherit;
  color: inherit;
  text-decoration: underline;
  transition: all .4s ease;
}

// Typography classes
.author-description { // p
  margin-bottom: rem(30);
  font: italic 300 rem(16)/1.38 $serif;
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  // Headings
  h1 {
    font-size: rem(36);
  }
}
