/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/
body {
  font: 400 rem(15)/1.47 $sans;
}

// Headings
h1 {
  margin: 0 0 rem(50);
  font: 700 rem(50)/1.12 $cursive;
  text-transform: uppercase;
}

// Body copy
p, ol, ul, li {
  font: 400 rem(15)/1.47 $sans;
}

p, ol, ul {
  margin: 0 0 rem(50);
}

// Links
a {
  font: inherit;
  color: inherit;
  text-decoration: underline;
  transition: all .4s ease;
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  // Headings
  h1 {
    font-size: rem(36);
  }
}
