/**
 * Hero B (with background) (Global)
 *
 * Template part used on index.php and other views
 *
 * @package F1 Growth10
 * @author Factor1 Studios
 * @since 1.2.0
 */

.hero-b {
  @include iPhoneX;

  .container {
    min-height: rem(500);
    padding: rem(200) 0;
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .hero-b .container {
    min-height: rem(300);
    padding: rem(200) 0 rem(50);
  }
}
